/* CSS Document	*/

body {
	background:	white;
	margin:0;
	padding:0;
	color:#000;
	font:x-small/1.5em Arial,Helvetica,Sans-Serif;
	voice-family:	"\"}\""; voice-family:inherit;
	font-size:7pt;
	}	html>body	{font-size:7pt;}

body.loginpage,	body.errorpage {
	background:	white;
}

.hidden	{
	display: none;
}

h1 {
	padding:5px	0px	0px	20px;	 
	margin-top:	0px;
	font-size: 24px;
	color: #fff;
	font-weight: bold;
}	 
	
.crumb {
	font-size: smaller;
	margin-left: 7px;
}	 

.contentmain .crumb	{
	margin-left: 4px;
}

.contentTitle	{
	padding-top: 10px;
	padding-left:	10px;
}
	
h2 {
	margin-left:5px;
	margin-top:	0px;
	margin-bottom: 10px;
	font-size: 13px;
	color: #666;
}

table	{
	padding: 0px;
	margin:	0px;
	border-spacing:	0px;
	border-collapse: collapse;
	width: 100%;
}

td.warnicononly,
td.favorite,
td.notfavorite {
text-align:	center;
background-position: center	center;
}

td.warn,
td.warnicononly{
	background-image:	url('../images/warn_sm.png');
	background-repeat: no-repeat;
	height:	20px;
}

td.warn	{
	background-position: 0px center;
	padding-left:	25px;
}

td.favorite,
td.notfavorite {
	background-repeat: no-repeat;
	height:	20px;
}

td.favorite	{
	background-image:	url('../images/checkbox-checked.png');
}

td.notfavorite {
	background-image:	url('../images/checkbox-empty.png');
}

td.groupByTimeCount	
{
	text-align:center;
}

th,	tr {
	padding: 0px;
	margin:	0px;
}

td {
	padding: 2px;
	margin:	0px;
}

td.align_top {
	padding-top: 10px;
	padding-bottom:	10px;
	vertical-align:	top;
}

/**
 * For "th"	style, please	see	customized_core.css
 **/

th.last, th:last-child {
	background-image:	none;
}

tr.datatableseparator	{
	height:	3px;
}

div.datatableseparator {
	border-bottom: 1px solid #d9d9d9;
}

form {
	border:	0px;
	margin:	0px;
	padding: 0px;
}

a	img	{
	border:	0px;
}

.warningtext {
	color: #c00;
}

.buttonsright	{
	text-align:	right;
	margin-top:	4px;
	margin-bottom: 3px;
	margin-right:	10px;
}

.buttonsleft {
	text-align:	left;
	margin-top:	4px;
	margin-bottom: 3px;
	margin-left: 10px;
}


/**
 * For ".emptymessagetablerow" style,	please see customized_core.css
 **/

/********* special purpose links *********/
a.plus,
a.minus{
	display: block;
	width:16px;
	height:	16px;
	background-repeat: no-repeat;
}

a.plus{
	background-image:	url(../images/plusx3.png);
	background-position: 0px 0px;
}

a.minus	{
	background-image:	url(../images/minusx3.gif);
	background-position:0px	0px;
}

a.minus:hover,
a.plus:hover {
	background-position: -16px 0px;
}

a.minus:active,
a.plus:active	{
	background-position: -32px 0px;
}

.disabled	a.minus,
.disabled	a.plus {
	background-position: -48px 0px;
}

a.lookup {
	display: block;
	width:22px;
	height:	22px;
	background-repeat: no-repeat;
	background-image:url(../images/icon_detail_off.gif);
	background-position: 0px 0px;
}

a.lookup:hover {
	background-image:url(../images/icon_detail_over.gif);
}

a.closed,
a.open {
	display: block;
	width: 16px;
	height:	16px;
	background-position: left	top;
	background-repeat: no-repeat;
}

a.closed{
	background-image:	url(../images/arrow-closed.gif);
}

a.open{
	background-image:	url(../images/arrow-open.gif);
}

img.calendarpopup	{
	width: 22px;
	height:	22px;
}

/********* Login *********/

.loginbox, .errorbox {
	border:	1px	solid	black;
	background-color:	#e6e6e6;
	width: 300px;
	margin:	10px;
	margin-left: auto;
	margin-right:	auto;
}

/**
 * For ".loginbox	.header, .errorbox .header"	style, please	see	customized_core.css
 **/

.loginbox	.header	img, .errorbox .header img {
	position:	absolute;
	right: 20px;		 
}

/**
 * For ".loginbox	.title,	.errorbox	.title"	style, please	see	customized_core.css
 **/

.loginbox	.row,
.loginbox	.buttons {
	margin:	5px;
}

.errorbox	.row {
	margin:	5px;
	margin-left: 10px;
}

.loginbox	label	{
	display: block;
	width: 100px;
	text-align:	right;
	clear:left;
	float: left; 
	margin-right:	5px;
	color: #666;
	font-size: small;
}

.loginbox	.separator {
	margin-left: 10px;
	margin-right:	10px;
	border-top:	1px	solid	#d9d9d9;
}

.loginbox	.buttons {
	text-align:	right;
	margin-top:	10px;
}

.loginbox	label.error	{
	color: #c00;
}

/* Error messages	*/

div.infoMsg,
div.warnMsg,
div.errorMsg{
	padding: 2px;
	margin:	2px;
	background-color:	#FFF;
}

div.infoMsg{
	border:	2px	solid	#00CC00;
	background-image:	url(../images/infostate.gif);
	background-repeat: no-repeat;
	background-position: 10px	center;
}

div.warnMsg{
	border:	2px	solid	#00CC00;
	background-image:	url(../images/warn_sm.png);
	background-repeat: no-repeat;
	background-position: 10px	center;
}

div.errorMsg{
	border:	2px	solid	#f00;
	background-image:	url(../images/errorstate.gif);
	background-repeat: no-repeat;
	background-position: 10px	center;
}


div.infoMsg	.reason,
div.warnMsg .reason,
div.errorMsg .reason{
	margin-left: 30px;
	font-size: 7pt;
}

div.infoMsg	.name,
div.warnMsg .name,
div.errorMsg .name{
	margin-left: 30px;
	font-weight: bold;
}

/* Login Box Error messages	*/

.loginbox	div.errorMsg{
	border:	none;
	background-color:	transparent;
	background-image:	none;
	margin-left: 15px;
	margin-right:	15px;
	margin-bottom: 5px;
	color: #c00;
}

.loginbox	div.errorMsg .reason,
.loginbox	div.errorMsg .name {
	margin-left: 0px;
}

/********* Primary Navigation	(Tabs) *********/
/**
 * For "#header" style,	please see customized_core.css
 **/
#header	ul.tabs	{
	position:	absolute;
	top: 67px;
	left: 10px;
	margin:0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	list-style:none;
	clear: left;
	z-index:2;
	padding: 0px;
	list-style:none;
}

#header	ul.tabs	li {
	float:left;
	background:url("../images/tab_left_off_reporter.jpg")	no-repeat	left top;
	margin-right:1px;
	padding:0	0	0	9px;
	}
#header	ul.tabs	a	{
	text-decoration:none;
	font-weight:bold;
	color:#666;
	}
#header	ul.tabs	div	{
	background:url("../images/tab_right_off_reporter.jpg") no-repeat right top;
	padding:5px	15px 4px 6px;
	}
#header	ul.tabs	a:hover	{
	color:#333;
	}
#header	ul.tabs	.current0	{
	background-image:url("../images/tab_left_on_reporter.jpg");
	}
#header	ul.tabs	.current0	a	{
	color:rgb(77,109,34);
	}
#header	ul.tabs	.current0	div	{
	background-image:url("../images/tab_right_on_reporter.jpg");
	}
	
#header	ul.tabs	.current1	{
	background-image:url("../images/tab_left_on_reporter.jpg");
	}
#header	ul.tabs	.current1	a	{
	color:rgb(77,109,34);
	}
#header	ul.tabs	.current1	div	{
	background-image:url("../images/tab_right_on_reporter.jpg");
	}
	
#header	ul.tabs	.current2	{
	background-image:url("../images/tab_left_on_reporter.jpg");
	}
#header	ul.tabs	.current2	a	{
	color:rgb(0,113,188);
	}
#header	ul.tabs	.current2	div	{
	background-image:url("../images/tab_right_on_reporter.jpg");
	}

/********* Tools Box (UID, Logout, Help, etc..)	*********/
div#version	{
	position:	absolute;
	right: 10px;
	top: 50px;
	width: 80px;
	font-size: 14px;
	font-weight: bold;
	font-style:	italic;
	color: #FFFFFF;
	z-index:2;
}

div#tools	{
	position:	absolute;
	right: 15px;
	top: 70px;
	font-size: 9px;
	color: #646464;
	z-index:2;
}

div#tools	a{
	color: #646464;
	text-decoration: none;
}

/********* Corporate logo	*********/
.logo	{
	position:	absolute;
	right: 15px;
	top: 12px;
}

/****	Search ***/
.searchbox {
	text-align:	right; 
}

.searchbox form	{
	padding: 5px;
	margin:	0px;
	float:right;
}

/********* Subcategory Navigation	Bar	*********/
#subnav	{
	clear:both;
	float:left;
	width: 100%;
}	 
	
#subnav	ul{
	list-style-type	:	none;
	margin : 0;
	padding	:	0;
}

#subnav	li {
	float:left;
	margin:0;
	padding:0;
}

#subnav	li div {
	padding	:	6px	14px 2px 10px;
	border-left	:	1px	solid	#ccc;
}

#subnav	ul a {
	display:block;
	color	:	#999;
	line-height	:	14px;
	text-decoration	:	none;
}

#subnav	ul li.current	a	{
	color: #555;
}

#subnav	ul li:first-child	a	
{border:none;}

#subnav	ul li	a:hover{
	color:#990000;
}

#pagecontent {
	clear:both;
}

.multinavPanel 
{
    margin:0px 0px 0px 12px;
}

.multinavContent 
{
   font-size: 9pt;
    font-family: Arial,Helvetica,Sans-Serif;
}


/********* content pane	page sections	*********/
.contentnav	{
	float: left;
	width: 260px;
	padding-left:	10px;	 
	padding-right: 4px;
}

.contentnav	.contentsubnav {
	padding: 0px;	 
	background-image:url(../images/bevel_horizontal.gif);
	background-repeat: repeat-x;
	background-position: bottom;	
}

.contentmain {
	margin-right:	0px;
	margin-left: 0px;
	padding: 0px;
}

#footer	{
	clear: both;
}

#footer	.copyright {
	font-size: 11px;
	color: #666;
	text-align:	center;
	padding-top: 30px;
}	

/********* Navigation	Tables and their Containers	*********/
div.listbuttons	{
	text-align:	right;	
	margin-top:	4px;
	margin-bottom: 3px;
	margin-right:	2px;
}

div.listbuttons	input	{
	font-size: 9px;
}

div.listtable	{
	border-top:	0px;
	border-left: 0px;
	border-right:	0px;
	border-bottom: 0px;
}

div.listtable	tr {
background-color:	white;
}

div.listtable	tr a{
	font-size: 7.5pt;
	line-height: 10.5px;
	color: #000;
	text-decoration: none;
	display: block;
	width: 100%;
	padding-left:	0px;
}

/**
 * For "div.listtable	tr a:hover"	style, please	see	customized_core.css
 **/

/**
 * For "div.listtable	tr.selected" style,	please see customized_core.css
 **/

div.listtable	tr.selected	a	{
	color: #fff;
	text-decoration: none;
}

.tabletitle	{
	padding: 2px;
	color: #fff;
	font-weight: bold;
}

.tabletitle	a	{
	float: right;
	color: #fff;
	font-weight: normal;
}

/**	Alert	Log	Table	on Home	Page**/
.alertlog	td {vertical-align:	top;}
.alertlog	a	{display:	block;}
.alertlog	{width:	100%;}


/********* Navigation	Column Elements	*********/

a.buttonlink {
	display: block;
	margin:	10px;
	margin-top:	0px;
	text-align:	center;
	color: black;
	text-decoration: none;
	background-color:#CCCCCC;
	border:	1px	solid	#888;
}

a.buttonlink:hover{
	background-color:	#bbb;
}

.jumplink	{
	text-align:	right;
}

/**	Paging Control **/
.pagecontrol {
	text-align:	center;
	font-size: 7.5pt;
	border-left: 1px solid #eee;
	border-right:	1px	solid	#eee;
	border-bottom: 1px solid #eee;
}

.summary .pagecontrol	{
	float: right;
	border:	0;
}

.pagecontrol a,
.pagecontrol .pagecounter{
	padding-left:	5px;
	padding-right: 5px;
}

.pagecontrol .pagecounter	{
	background-color:	white;
}

.pagecontrol a.inactive{
	color: #999;
	text-decoration: none;
}

/********* Object	Details	Pane *********/

/**
 * For ".panetitle,	h3"	style, please	see	customized_core.css
 **/

.panetitle .panebuttons	{
	float: right;	
}

.panetitle .panebuttons	a	{
	text-decoration: none;
}

.panetitle .panebuttons	input	{
	font-size: 9px;
}

div.details	div.detailcontent{
	border-top:	2px	solid	#999;
	border-left: 2px solid #999;
	border-right:	2px	solid	#fff;
	border-bottom: 2px solid #fff;
	background-color:	#f2f2f2;
	padding-left:	20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom:	10px;
}

/**
 * For "div.details	.sectionheader"	style, please	see	customized_core.css
 **/ 

div.details	div.sectionheader	span.note{
	font-size: smaller;
	color: black;
}

div.details	.reportcontent {
	font-weight: normal;
	text-align:	left;
	padding-left:	8px;
	padding-right: 10px;
	padding-top: 0px;
}

div.details	div.tabheader{
	margin : 0px;
	padding	:	0px;
	background:	url('../images/tabSmall_bkg.gif')	repeat-x left	bottom;	
	border-top:	2px	solid	#999;
	border-left: 2px solid #999;
	border-right:	2px	solid	#fff;
	z-index:2;
}

div.details	div.tabheader	ul {
	list-style-type	:	none;
	margin:0;
	padding: 0px;
	padding-left:	10px;
	padding-top: 2px;
}

div.details	div.tabheader	ul li	{
	margin : 0;
	padding	:	0;
	display: inline;
	margin-left: 5px;
	padding-left:	5px;
	background-color:	#999;
	background:	url("../images/tabSmall_left_off_reporter.gif")	no-repeat	left top;
}

div.details	div.tabheader	ul div {
	display: inline;
	margin : 0;
	padding	:	0;
	margin-left: 5px;
	padding-left:	5px;
	padding-right: 15px;

	background:url("../images/tabSmall_right_off.gif") no-repeat right top;
	padding-bottom:	1px; 
}

div.details	div.tabheader	ul a {
	font-weight: normal;
	color: #666;
	text-decoration:none;
}

div.details	div.tabheader	ul li.current	div{
	background:url("../images/tabSmall_right_on.gif")	no-repeat	right	top;
	padding-bottom:	2px;
}

div.details	div.tabheader	ul li.current	a{
	font-weight: bold;
	text-decoration: none;
}


div.details	div.tabheader	ul li.current	{
	background-color:	#ddd;
	background:url("../images/tabSmall_left_on.gif") no-repeat left	top;
	padding-bottom:	2px;
	margin-bottom: 0px;
}

div.details	div.tabheader	ul li.disabled {
	visibility:	hidden;
}

.sectioncontent{
	padding: 3px;
	padding-bottom:	7px;
}
.tabcontent{
	padding: 10px;
	padding-bottom:	7px;
	border-left: 2px solid #999;
	border-right:	2px	solid	#fff;
	border-bottom: 2px solid #fff;
	background-color:	#f2f2f2;
}

.tabinstructions {
	padding: 0px 0px 15px	0px;
}

/* settings	panel	layout */
.settinggroup,
.settingsubgroup {
margin-left: 15px;
}

.settinggroup	{
margin-bottom: 3px;
}

.settinggroup	*	{
vertical-align:	top;
}

/* report	panel	layout */
table.reportdetails	{
	margin:	5px;
}

table.roledetails,
table.userdetails,
table.usergroupdetails,
table.defaultsecurity,
table.agentconfig	{
	width: auto;
}

table.memberstable {
	width: 99%;
}


table.memberstable td,
table.memberstable th	{
	padding-left:	20px;
	padding-right: 20px;	
	padding-top: 2px;
	padding-bottom:	2px;	
}

table.memberstable td.datatableseparator {
	padding-left:	0;
	padding-right: 0;
}

table.memberstable th	{
	margin-top:	1px;
	border-top:	1px	solid	#eee;
	white-space:nowrap;
}

td.hungrycolumn	{
	width: 100%;
}

.usersClear	{
	clear: left;
}

table.roledetails	td,
table.userdetails	td,
table.usergroupdetails td,
table.agentconfig	td,
table.agentconfighosttable td,
table.memberstable td{
	 vertical-align: top;
}

table.defaultsecurity	td{
	vertical-align:	middle;
}

div.contents {
	margin-left: 10px;
}

table.defaultsecurity	th {
	background-image:	none;
	background-color:	#aaa;
	padding-left:	5px;
	padding-right: 5px;
	white-space: nowrap;
}

table.defaultsecurity	td {
	text-align:	center;
}

table.defaultsecurity	td.label{
	text-align:	left;
	white-space: nowrap;
}

table.defaultsecurity	td.buttons{
	vertical-align:	middle;
}

div.defaultsecuritybuttons {
	margin-left: 20px;
}

.sectioncontent	.variable	{
	text-align:	right;
	margin-left: 5px;
	color: #000;
}

/**
 * For ".sectioncontent	.value,	.sectioncontent	.inputvalue" 
 * style,	please see customized_core.css
 **/

.sectioncontent	.label {
	width: 115px;
	text-align:	right;
	color: #4d4d4d;
}

.sectioncontent	table.agentconfig	.label{
	width: 220px;
}

.addhostsbutton	{
	margin-top:	10px;
}

table.formtable	{
	width: auto;
}

table.formtable	td,
table.formtable	td input {
	vertical-align:	top;
	font-family: Arial,Helvetica,Sans-Serif;
	font-size: 9pt;	
}

table.formtable	td.input input {
	font-family: Arial,Helvetica,Sans-Serif;
	font-size: 9pt;	
}

table.formtable	tr td.label	{
	font-weight: bold;
}

table.formtable	td {
	padding-bottom:	5px;
}

table.formtable	td table tr,table.formtable	td table td	{
	padding: 3px;
}

table.formtable1 {
	width: 200px;
}

table.formtable1	td,
table.formtable1	td input {
	vertical-align:	top;
	font-family: Arial,Helvetica,Sans-Serif;
	font-size: 9pt;	
}

table.formtable1	td.input input {
	font-family: Arial,Helvetica,Sans-Serif;
	font-size: 9pt;	
}

table.formtable1	tr td.label	{
	font-weight: bold;
}
table.formtable1	tr td.inputvalue	{
	word-break: break-all;
}

table.formtable1	td {
	padding-bottom:	5px;
}

table.formtable1	td table tr,table.formtable1	td table td	{
	padding: 3px;
}

td.input { 
	padding-left:	10px;
}

td.inputcheckbox {
	padding-left:	6px;
}

td.inputcheckbox input {
	vertical-align:	middle;
}

div.formrow	{
	margin-top:	2px;
	margin-bottom: 2px;
	position:	relative;
}

div.formrow	span.label {
	position:	absolute;
	display: block;
	margin-right:	5px;
	}

div.formrow	span.input,	
div.formrow	span.inputvalue	{
	text-align:	left;
	margin-left: 105px;
	}	
	
div.actionbuttons	{
	padding-top: 0px;
	padding: 10px;
	text-align:	right;
}

.sectioncontent	.pagecontrol{
	border:	0px;
}

/*disabling	stuff*/
#policymgrsettings.disabled	label,
#policymgrsettings.disabled	td.label{
	color: #666;
}

/*Empty	Messages*/
div.emptymsg {
	color: #444;
	font-style:	italic;
}

/********* Management	Console	Status Boxes *********/
div.statusoverviewpanel	{
	overflow:	auto;
	border-top:	2px	solid	#999;
	border-left: 2px solid #999;
	border-right:	2px	solid	#fff;
	border-bottom: 2px solid #fff;
	padding: 0;
	background-color:	#f2f2f2;
	margin-left: 10px;
	margin-right:	10px;
	margin-bottom: 10px;
}

td.componentstatus {
	padding: 0;
	padding-left:	15px;
	vertical-align:	top;
}

td.componentstatus table td,
td.componentstatus table th{
	padding-left:	20px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom:	2px;
}

td.componentstatus table td.datatableseparator {
	padding-left:	0;
	padding-right: 0;
}

td.componentstatus table th	{
	margin-top:	1px;
	border-top:	1px	solid	#eee;
	white-space:nowrap;
}


td.componentstatus table{
}

/**
 * For "td.componentstatus .tabletitle"	style, please	see	customized_core.css
 **/

/**
 * For "td.statsbox" style,	please see customized_core.css
 **/

td.statsbox	.title {
	width: 250px;	/* To	maintain width of	statsbox */
	color: white;
	background-color:	#adb0b2;	 
	padding-left:	20px;
	padding-top: 5px;
	padding-bottom:	5px;
}

td.statsbox	.subtitle	{	 
	margin-right:	20px;
	font-style:	italic;
	text-align:	right;
	font-size: smaller;
	padding-top: 10px; 
	padding-bottom:	5px; 
	font-weight: bold;
}

td.statsbox	.label {
	width: 180px;
	vertical-align:	middle;
	color: black;
	padding-left:	40px;
	font-size: small;
}

td.statsbox	.value {
	font-size: small;
	width: 30px;
	text-align:	right;
	padding-right: 20px;
	vertical-align:	middle;
	color: black;
}

div.spacingdiv {
	clear: left;
}

.indicator a{
	display: block;
	width:25px;
	height:	25px;
	background:	no-repeat;
}

.indicator a.ok{
	background-image:	url(../images/ok.png);
	background-position: 0px 0px;
}

.indicator a.warn{
	background-image:	url(../images/warn.png);
	background-position: 0px 0px;
}

.indicator a.error{
}

td.statsbox	.sectionheader {
	margin-left: 20px;
	margin-right:	20px;
	font-weight: bold;
	border-top:	1px	solid	#aaa;
	padding-top: 3px;
}

td.statsbox	.sectionnotes	{
	color: black;
	font-weight: normal;
	font-size: smaller;
}

td.statsbox	table	{
	margin-bottom: 10px;
}

td.statsbox	.substat {
	color: #444;
}

/********* Management	Console	Host Status	controls *********/

div.statustable	{
	margin:	10px;
}

td.statustablecolumn {
	vertical-align:	top;
}

tr.statustablecolumnonerows	>	td {
	padding-bottom:	20px;
}

table.hoststatus {
	border-top:	2px	solid	#999;
	border-left: 2px solid #999;
	border-right:	2px	solid	#fff;
	border-bottom: 2px solid #fff;
	clear: both;
	background-color:	#f2f2f2;
}

table.hoststatus tr	{
	background-color:	#f2f2f2;
}

table.hoststatus tr.warn{
	background-color:	#FF9;
	color:#630;
}

table.hoststatus td	{
	border-right:	1px	solid	#eee;
	border-left: 1px solid #eee;
	text-align:	center;
}

table.hoststatus th	{
	margin-top:	1px;
	border-top:	1px	solid	#eee;
	text-align:	center;
	color: #fff;
}

table.hoststatus th	a	{
	display: block;
	color: #fff;
	text-decoration: none;
	margin-right:	10px;
	margin-left: 10px;
	margin-bottom: 2px;
}

table.hoststatus th	a.up {
	background-image:	url(../images/arrow-up.gif);
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 10px;
}

table.hoststatus th	a.dn {
	background-image:	url(../images/arrow-dn.gif);
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 10px;
}

table.hoststatus th	a:hover	{
	background-color:	#07a;
	margin-bottom: 2px;
}

/******	Results	Tables ******/
div.results	{
	margin:	10px;
}

div.resultstools {
	text-align:	right;
	margin-bottom: 5px;
	float: right;
}

div.results	.date	{
}

.resultstools	a	{
	padding: 7px;
}

.resultstools	a.print	{
	background-image:	url(../images/print_icon.gif);
	background-repeat: no-repeat;
	background-position: left	center;
	padding-left:	18px;
}

.resultstools	a.email	{
	background-image:	url(../images/email-icon.gif);
	background-repeat: no-repeat;
	background-position: left	center;
	padding-left:	16px;
}

.resultstools	a.export {
	background-image:	url(../images/export_icon.gif);
	background-repeat: no-repeat;
	background-position: left	center;
	padding-left:	18px;
}

table.results	{
	clear: both;
	border-top:	2px	solid	black;
	border-left: 2px solid black;
	border-right:	2px	solid	black;
	border-bottom: 2px solid black;	 
	background-color:	white;
	font-size: 12px;
	width: 980px;
}

table.results	td {
	vertical-align:	top;
	padding: 0px;
	padding-left:	5px;
	padding-right: 0px;
	white-space: nowrap;
	border-top:	1px	solid	black;
	border-left: 1px solid black;
	border-right:	1px	solid	black;
	border-bottom: 1px solid black;	 
}

table.results	td.center	{
	text-align:	center;
}

table.results	td.date	{
	width: 90px;
	text-align:	center;
	word-wrap: break-word;
	white-space: nowrap;
	padding-left:	0px;
}

table.results	td.enforcement {
	width: 80px;
	text-align:	center;
	white-space: -moz-pre-wrap;
	word-wrap: break-word;
	padding-left:	0px;
}

table.results	td.action	{
	width: 159px;
	white-space: -moz-pre-wrap;
	word-wrap: break-word;
	text-align:	center;
	padding-left:	0px;
	padding-right: 0px;
	padding: 0px;
}

table.results	td.resource	{
	width: 305px;	
	white-space: -moz-pre-wrap;
	word-wrap: break-word;
}

table.results	td.host	{
	width: 195px;
	white-space: -moz-pre-wrap;
	word-wrap: break-word;
}

table.results	td.user	{
	width: 155px;
	white-space: -moz-pre-wrap;
	word-wrap: break-word;
}

table.results	td.application {
	width: 195px;
	white-space: -moz-pre-wrap;
	word-wrap: break-word;
}

table.results	td.policy	{
	width: 155px;
	white-space: -moz-pre-wrap;
	word-wrap: break-word;
}

table.results	td.lookup	{
	vertical-align:	middle;
	width: 22px;
	padding: 0px;
	padding-left:	0px;
	padding-right: 0px;
}


table.results	td.datatableseparator	{
	padding-left:	0px;
	padding-right: 0px;
}

table.results	th {
	margin-top:	1px;
	border-top:	1px	solid	#eee;
	color: black;
	background-color:	beige; 
	padding-left:	10px;
	padding-right: 10px;
	text-align:	center;
	background-image:	none;
	border-top:	1px	solid	black;
	border-left: 1px solid black;
	border-right:	1px	solid	black;
	border-bottom: 1px solid black;
}

table.results	th a {
	display: block;
	color: black;
	background-color:	beige; 
	text-decoration: none;
	margin-bottom: 2px;
	text-align:	center;
	background-image:	none;
}

table.results	th a.up	{
	background-image:	url(../images/arrow-up.gif);
	background-position: right;
	background-repeat: no-repeat;
}

table.results	th a.dn	{
	background-image:	url(../images/arrow-dn.gif);
	background-position: right;
	background-repeat: no-repeat;
}

table.results	th a:hover {
	background-color:	#07a;
	margin-bottom: 2px;
}

div.folderPath {
	margin-left: 10px;
	font-style:	italic;
}

div.results	table.grouped{
	clear: left;
}

div.results	table.grouped	.number{
	text-align:	right;
}

span.runtime {
	text-align:	right;
	float: right;
}

div.dateresulttable	{
	margin-left: 10px;
	margin-right:	10px;
	border-top:	2px	solid	#999;
	border-left: 2px solid #999;
	border-right:	2px	solid	#fff;
	border-bottom: 2px solid #fff;	
	background-color:	#f2f2f2;
}

div.dateresulttable	div.reportdates	{
	color: #0056a9;
	font-size: 14px;
	font-weight: bold;
	padding-left:	20px;
	padding-top: 15px;
}

div.dateresulttable	table	{

}

div.dateresulttable	tr.bars	td {
	vertical-align:	bottom;
}

div.dateresulttable	th {
	background-image:	none;					
	vertical-align:	bottom;
	background-color:	#f2f2f2;
}

div.dateresulttable	tr.dateRow {
	background-color:	#0082df;
	color: white;
}

div.dateresulttable	tr.dateRow td	{
	background-image:	url('../images/bevel_blueVertical.gif');
	background-repeat: repeat-y;
	background-position: right;
	text-align:	center;
}

div.dateresulttable	tr.dateRow td:last-child {
	background-image:	none;
}

.barcontainer	{
	position:	relative;
}

div.dateresulttable	table	.bar {
	background-image:	url('../images/chartVerticalBar200Gold.gif');
	background-repeat: no-repeat;
	background-attachment: center	top;
	margin-left: auto;
	margin-right:	auto;
	margin-bottom: 0px;
	width: 20px;
	font-size: 1px;
}

a.barlink	{
	display: block;
	position:	absolute;
}

div.dateresulttable	a.barlink	{
	height:	55px;
	bottom:	-2px;
	left:	0px;
	right: 0px;
}

div.results	a.barlink	{
	height:	25px;
	width: 304px;
	top:-5px;
}

div.dateresulttable	a.barlink:hover	,
div.results	a.barlink:hover	{
	background-color:	#003;
	opacity: .2;
}



div.results	table.grouped	.bar {
	background-image:	url('../images/chartHorizontalBar400Gold.gif');
	background-repeat: no-repeat;
	background-attachment: right center;
	margin:	3px;
	margin-left: 0px;
	height:	20px;
}

div.results	table.grouped	td {
	border:	1px	solid	#d9d9d9;
	padding: 0px;
}

div.results	table.grouped	td.groupdisplay	{
	white-space: -moz-pre-wrap;
	word-wrap: break-word;
	border:	1px	solid	#d9d9d9;
	padding: 0px;
	width: 550px;
}

div.results	table.grouped	tr.total{
	background-color:	#eee;
	font-weight: bold;
}

/******	Modal	Dialogs	******/
.curtain {
	background-color:	black;
	position:	fixed;
	left:	0px;
	top: 0px;
	bottom:	0px;
	right: 0px;
	opacity: 0.5;
}

.modalDialog {
	background-color:	white;
	border:	2px	ridge;
	position:	absolute;
	width: 40%;
	left:	30%;
	top: 30%;
}

/**
 * For ".modalDialog .title" style,	please see customized_core.css
 **/

.modalDialog .reason {
	padding: 8px;
}

.modalDialog .reason .sectiontitle {
	font-weight: bold;
}

.modalDialog .buttons	{
	padding: 8px;
	text-align:	right;
}

/*****Report Definition	Fields****/

.reportinput {
	width: 220px;
	font-size: 8pt;
	font-family: Arial,Helvetica,Sans-Serif;
}

/*****Single Log Result	Page*****/

/**
 * For ".singlelogpanetitle" style,	please see customized_core.css
 **/

table.singlelog	{
	width: 650px;
	margin-top:	35px;
}

table.singlelog	td {
	vertical-align:	top;
}

table.singlelog	td.singlelogfirstcolumn	{
	border-right:	2px	solid	#999999;
}

/**
 * For "table.singlelog	td.label"	style, please	see	customized_core.css
 **/

table.singlelog	td.content {
	margin:	0px;
	margin-bottom: 5px;
	padding: 2px;
	font-weight: bold;
	font-size: 12px;
	line-height: 19px;
	color: black;
	padding-left:	15px;
	width: 250px;
	word-wrap: break-word;
	vertical-align:	top;
}

table.singlelog	td.detail	{
	width: 280px;
	vertical-align:	top;
	padding-left:	30px;
	font-weight: lighter;
	font-size: 10px;
	line-height: 19px;
	color: black;
	word-wrap: break-word;
}

table.singlelog	table.attr {
	background-color:	none;
}

table.singlelog	table.attr th	{
	background:	#e6e6e6;
	padding-bottom:	20px;
	font-size: 12px;
	color: black;
}

table.singlelog	table.attr td	{
	font-weight: lighter;
	font-size: 10px;
	word-wrap: break-word;
}

.singlelogdate {
	padding-left:	50px;
	margin-left: 20px;
	margin-bottom: 5px;
	padding: 2px;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	color: black;
}

/**	New	Reporter Rich	Faces	Components Styles	**/
.panelBarContent {
	padding: 3px;
}

.panelBar	{
	padding:1px;
	background-color:white;	
	border-style:solid;
	border-width:1px;
	width: 260px;
	overflow: auto;
}

.panelBarDetail	{
	padding:1px;
	background-color:white;	
	border-style:solid;
	border-width:1px;
	width: 260px;
	overflow: auto;
}

.panelBarTitle {
	border-style:solid;
	border-width:1px;
	padding:2px;
	border-color:#4A75B5;
	font-family: Arial,Helvetica,Sans-Serif;
	font-size: 9pt;
}

.panelTitle	{
	font-family: Arial,Helvetica,Sans-Serif;
	font-size: 11pt;
	padding: 3px;
}

.panelContent	{
	font-family: Arial,Helvetica,Sans-Serif;
	padding: 0px;
	background-color:white;
}

.reportPanelContent	{
	font-family: Arial,Helvetica,Sans-Serif;
	background-color:white;
	padding:10px;
}

.queryFilterPanel	{
	width: 240px;
}

.reportButtons {
	font-family: Arial,Helvetica,Sans-Serif;
}

.sharepoint_url_hint {
	color: DarkGray;
	font-size: x-small;
	font-style:	italic;
}

.sharepoint_table_label	{
	text-align:	right;
	vertical-align:	middle;
	margin-top:	5px;
		font-weight: bold;
		font-size: 12px;
		line-height: 19px;
		color: black;
}

#masthead	{
	position:	relative;	
	background:	url(../images/Bar_middle.jpg)	repeat-x;
	height:	87px;
}

#main-image	{
	position:	absolute;	
	top: 0;	
	left:	0; 
	z-index: 2;	
	width: 400px;	
	height:	87px;	
	background:	url(../images/Bar_left.jpg)	no-repeat;
}

#side-image	{
	position:	absolute;	
	top: 0;	
	right: 0;	
	z-index: 1;	
	width: 241px;	
	height:	87px;	
	background:	url(../images/Bar_right.jpg) no-repeat;
}

.red_background	{
	background:rgb(212,20,90);
}

.green_background	{
	background:rgb(77,109,34);
}

.blue_background {
	background:rgb(0,113,188);
}

.red_border	{
	border-color:rgb(212,20,90);
}

.green_border	{
	border-color:rgb(77,109,34);
}

.blue_border {
	border-color:rgb(0,113,188);
}

.red {
	color:rgb(212,20,90);
}

.green {
	color:rgb(77,109,34);
}

.blue	{
	color:rgb(0,113,188);
}

/* application header background color */
#header {
  float:left;
  width:100%;
  background-color: #646464; /* CUSTOMIZATION VALUE */
  font-size:93%;
  line-height:normal;
}

/** 
 * empty message
 **/
.emptymessagetablerow {
  text-align: center;
  color: #646464; /* CUSTOMIZATION VALUE */
  font-weight: bold;
}

/** 
 * mouseover table entry
 **/
div.listtable tr a:hover{
  /* color: #646464; */ /* CUSTOMIZATION VALUE */
  font-weight: bold;
}

/** 
 * selected table entry
 **/
div.listtable tr.selected {
  background-color: #646464; /* CUSTOMIZATION VALUE */
}

/**
 * object details pane title
 **/
.panetitle, h3 {
  margin: 0px;
  margin-bottom: 5px;
  padding: 2px;
  font-weight: bold;
  font-size: 18px;
  line-height: 19px;
  color: #646464; /* CUSTOMIZATION VALUE */
}

/** 
 * object details pane, section header
 **/
div.details .sectionheader {
  color: #646464; /* CUSTOMIZATION VALUE */
  font-weight: normal;
  font-size: 13px;
  line-height: 14px;
  text-align: left;
  padding-left: 2px;
  border-bottom: 1px solid #b2b2b2;
  margin-top: 5px;
  margin-bottom: 2px;
}

/**
 * object details pane, section details
 **/
.sectioncontent .value,
.sectioncontent .inputvalue {
  color:#646464; /* CUSTOMIZATION VALUE */
}

/**
 * inquirycenter single log page details pane title
 **/
.singlelogpanetitle {
  margin: 0px;
  margin-bottom: 5px;
  padding: 2px;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #646464; /* CUSTOMIZATION VALUE */
}

/**
 * inquirycenter single log page details pane, common attributes table
 **/
table.singlelog td.label {
  margin: 0px;
  margin-bottom: 5px;
  padding: 2px;
  font-weight: bold;
  font-size: 12px;
  line-height: 19px;
  color: #646464; /* CUSTOMIZATION VALUE */
  width: 120px;
  text-align: right;
  vertical-align: top;
  padding-left: 0px;
}

/**
 * mgmtconsole stats box
 **/
td.statsbox {
  border-right: 1px solid #ccc;
  padding: 0px;
  width: 270px;
  color: #646464; /* CUSTOMIZATION VALUE */
}

/**
 * mgmtconsole component status table title
 **/
td.componentstatus .tabletitle {
  color: #646464; /* CUSTOMIZATION VALUE */
  padding-top: 15px;			
  padding-bottom: 15px;			
}

/**
 * table header row
 **/
th {
  background-image: url('../images/bevel_blueVertical.gif');
  background-repeat: repeat-y;
  background-position: right;
  background-color: #646464; /* CUSTOMIZATION VALUE */
  color: #fff;
  font-weight: normal;
  text-align: left;
  padding-left: 2px;
}

/**
 * modal dialog box title bar
 **/
.modalDialog .title {
  font-weight: bold;
  color: white;
  background-color: #646464; /* CUSTOMIZATION VALUE */
  padding: 8px;
}

/**
 * error display box
 **/
.loginbox .header, .errorbox .header {
  background-color: #646464; /* CUSTOMIZATION VALUE */
  position: relative;
  height: 31px;
}

/**
 * error display text
 **/
.loginbox .title, .errorbox .title {
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  line-height: 19px;
  color: #646464; /* CUSTOMIZATION VALUE */
}

#box 
{
	width:600px;
	margin-right:auto;
	margin-left:auto;
	margin-top:10px;
	padding:0px;
	text-align:left;
	background:#990000; /* CUSTOMIZATION VALUE */
}

#contentright 
{
	width:295px;
	padding:0px;
	float:left;
	background:#990000; /* CUSTOMIZATION VALUE */
}

#contentcenter 
{
	width:5px;
	padding:0px;
	float:left;
	background:#990000; /* CUSTOMIZATION VALUE */
}

/**
 * application header
 **/
#header {
  width:100%;
  background-color: white;
  font-size:93%;
  line-height:normal;
  height: 100px;
}

/**
 * details pane title
 **/
h3 {
  margin: 0px;
  margin-bottom: 5px;
  padding: 2px;
  font-weight: bold;
  font-size: 18px;
  line-height: 19px;
  color: #990000;
}

/**
 * table empty message
 **/
.emptymessagetablerow {
  text-align: center;
  color: #990000;
  font-weight: bold;
}
